
    add_volumes = [
      {% for volume in data.provider_config.additional_storage_volumes %}
      "virsh vol-create-as {{ data.provider_config.storage_pool|default('default', True) }} #{domain_prefix}-#{guest_name}-#{domain_uuid}-{{ volume.location.split('/')[-1] }} {{ volume.size }}",
      "sleep 1",
      "virsh vol-upload --pool {{ data.provider_config.storage_pool|default('default', True) }} #{domain_prefix}-#{guest_name}-#{domain_uuid}-{{ volume.location.split('/')[-1] }} {{ volume.location }}",
      "sleep 1"{{ "," if not loop.last }}
      {% endfor %}
    ]
    add_volumes.each do |i|
      node.trigger.before :up do |trigger|
        trigger.name = "add-volumes"
        trigger.info = "Adding Volumes"
        trigger.run = {inline: i}
      end
    end

    delete_volumes = [
      {% for volume in data.provider_config.additional_storage_volumes %}
      "virsh vol-delete #{domain_prefix}-#{guest_name}-#{domain_uuid}-{{ volume.location.split('/')[-1] }} {{ data.provider_config.storage_pool|default('default', True) }}"{{ "," if not loop.last }}
      {% endfor %}
    ]
    delete_volumes.each do |i|
      node.trigger.after :destroy do |trigger|
        trigger.name = "remove-volumes"
        trigger.info = "Removing Volumes"
        trigger.run = {inline: i}
      end
    end
    {#  #}