# -*- mode: ruby -*-
# vi: set ft=ruby :

# Created: {{ creation_time }}

{% include 'get-mac.rb' %}

cwd = Dir.pwd.split("/").last
username = ENV['USER']
domain_prefix = "#{username}_#{cwd}"
domain_uuid = "{{ domain_uuid }}"

Vagrant.require_version ">= 2.1.0"
Vagrant.configure("2") do |config|

{% block guest_config %}
{% endblock guest_config %}

end
