    blackhole_interfaces = {{ blackhole_interfaces.get(guest)|replace("'", '"') }}

    node.trigger.after :up do |trigger|
      trigger.name = "shutdown-blackhole-interfaces"
      trigger.info = "Shutting down #{guest_name} blackhole interfaces"
      blackhole_interfaces.each do |interface|
        trigger.run = {inline: "virsh domif-setlink #{domain_prefix}_#{guest_name} #{guest_name}-#{interface}-#{domain_uuid} down"}
      end
    end
    {#  #}