{% if blackhole_interfaces %}
blackhole_interfaces = [
{% for interface in blackhole_interfaces %}
  "virsh domif-setlink #{domain_prefix}_{{ interface.guest }} {{ interface.guest }}-{{ interface.interface }}-#{domain_uuid} down"{{ "," if not loop.last }}
{% endfor %}
]
{% endif %}