    blackhole_interfaces = {{ blackhole_interfaces.get(guest) }}
    blackhole_interfaces.each do |interface|
      node.trigger.after :up do |trigger|
        trigger.info = "Shutting down {{ guest }} blackhole interface"
        trigger.run = {inline: "virsh domif-setlink #{domain_prefix}_{{ guest }} {{ guest }}-#{interface}-#{domain_uuid} down"}
      end
    end
    {#  #}