
    blackhole_interfaces = {{ blackhole_interfaces.get(guest)|replace("'", '"') }}
    blackhole_interfaces.each do |interface|
      node.trigger.after :up do |trigger|
        trigger.info = "Shutting down #{guest_name}-#{interface}"
        trigger.run = {inline: "virsh domif-setlink #{domain_prefix}_#{guest_name} #{guest_name}-#{interface}-#{domain_uuid} down"}
      end
    end
    {#  #}