    {% set int_map = interface_mappings[data['vagrant_box']['name']]['data_interfaces'] %}
    node.vm.network :private_network,
      {% if interface.remote_guest == 'blackhole' %}
      # {{ guest }}-{{ int_map[interface.local_port] }} <--> blackhole-666
      {% else %}
      # {{ guest }}-{{ int_map[interface.local_port] }} <--> {{ interface.remote_guest }}-{{ int_map[interface.remote_port] }}
      {% endif %}
      :mac => "#{get_mac()}",
      :libvirt__tunnel_type => "udp",
      :libvirt__tunnel_local_ip => "{{ loopbacks[guest] }}",
      :libvirt__tunnel_local_port => {{ interface.local_port|explode_port }},
      :libvirt__tunnel_ip => "{{ loopbacks[interface.remote_guest] }}",
      :libvirt__tunnel_port => {{ interface.remote_port|explode_port }},
      :libvirt__iface_name => "{{ guest }}-{{ int_map[interface.local_port] }}",
      auto_config: false
      {#  #}