    node.vm.network :private_network,
      # {{ guest }}-internal-{{ interface.local_port }} <--> {{ interface.remote_guest }}-internal-{{ interface.remote_port }}
      :mac => "#{get_mac()}",
      :libvirt__tunnel_type => "udp",
      :libvirt__tunnel_local_ip => "{{ loopbacks[guest] }}",
      :libvirt__tunnel_local_port => {{ interface.local_port|explode_port(base_port=11000) }},
      :libvirt__tunnel_ip => "{{ loopbacks[interface.remote_guest] }}",
      :libvirt__tunnel_port => {{ interface.remote_port|explode_port(base_port=11000) }},
      :libvirt__iface_name => "{{ guest }}-internal-{{ interface.local_port }}-#{domain_uuid}",
      auto_config: false

      {#  #}