{% extends 'base.j2' %}

{% block host_config %}
  {% for host in hosts %}
  config.vm.define "{{ host.name }}" do |node|
    node.vm.box = "{{ host.vagrant_box.name }}"
    {% if host.vagrant_box.version %}
    node.vm.box_version = "{{ host.vagrant_box.version }}"
    {% endif %}
    {% if host.vagrant_box.guest_type %}
    node.vm.guest = :{{ host.vagrant_box.guest_type }}
    {% endif %}
    {% if host.vagrant_box.boot_timeout %}
    node.vm.guest = :{{ host.vagrant_box.boot_timeout }}
    {% endif %}
    {% if host.synced_folder.enabled %}
    node.vm.synced_folder "{{ host.synced_folder.src }}", "{{ host.synced_folder.dst }}", id: "{{ host.synced_folder.id }}"
    {% else %}
    node.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true
    {% endif %}

    {% if not host.insert_ssh_key %}
    node.ssh.insert_key = false
    {% endif %}

    {% include 'libvirt-config.j2' %}

    {% for interface in host.interfaces %}
    {% include 'libvirt-interface-config.j2' %}

    {% endfor %}
  end
  {% endfor %}
{% endblock host_config %}
