    node.vm.network :private_network,
      # {{ host.name }}-int{{ interface.local_port }} <--> {{ interface.remote_host }}-int{{ interface.remote_port }}
      :mac => "#{get_mac()}",
      :libvirt__tunnel_type => "udp",
      :libvirt__tunnel_local_ip => "{{ loopbacks[host.name] }}",
      :libvirt__tunnel_local_port => {{ interface.local_port|explode_port }},
      :libvirt__tunnel_ip => "{{ loopbacks[interface.remote_host] }}",
      :libvirt__tunnel_port => {{ interface.remote_port|explode_port }},
      :libvirt__iface_name => "{{ interface.name }}",
      auto_config: false
      {#  #}