    node.vm.provider :libvirt do |domain|
      {% if host.provider_config.nic_adapter_count %}
      domain.nic_adapter_count = {{ host.provider_config.nic_adapter_count }}
      {% endif %}
      {% if host.provider_config.disk_bus %}
      domain.disk_bus = "{{ host.provider_config.disk_bus }}"
      {% endif %}
      {% if host.provider_config.cpus %}
      domain.cpus = {{ host.provider_config.cpus }}
      {% endif %}
      {% if host.provider_config.memory %}
      domain.memory = {{ host.provider_config.memory }}
      {% endif %}
      {% if host.provider_config.management_network_mac %}
      domain.management_network_mac = "{{ host.provider_config.management_network_mac }}"
      {% endif %}
    end
    {#  #}