# -*- mode: ruby -*-
# vi: set ft=ruby :

{% include 'get-mac.rb' %}

Vagrant.configure("2") do |config|

  {% for host in hosts %}
  config.vm.define "{{ host.name }}" do |node|
    node.vm.box = "{{ host.vagrant_box.name }}"
    {% if host.box_version %}
    node.vm.box_version = "{{ host.vagrant_box.version }}"
    {% endif %}

    {% if not host.insert_ssh_key %}
    node.ssh.insert_key = false
    {% endif %}
  
    {% if host.synced_folder %}
    # Add shared folder config
    {% else %}
    node.vm.synced_folder ".", "/vagrant", id: "vagrant-root", disabled: true
    {% endif %}

    node.vm.provider :libvirt do |domain|
      {% if host.provider_config.nic_adapter_count %}
      domain.nic_adapter_count = {{ host.provider_config.nic_adapter_count }}
      {% endif %}
      {% if host.provider_config.disk_bus %}
      domain.disk_bus = "{{ host.provider_config.disk_bus }}"
      {% endif %}
      {% if host.provider_config.cpus %}
      domain.cpus = {{ host.provider_config.cpus }}
      {% endif %}
      {% if host.provider_config.memory %}
      domain.memory = {{ host.provider_config.memory }}
      {% endif %}
    end

    {% for interface in host.interfaces %}
    node.vm.network :private_network,
      :mac => "#{get_mac()}",
      :libvirt__tunnel_type => "udp",
      :libvirt__tunnel_local_ip => "{{ loopbacks[host.name] }}",
      :libvirt__tunnel_local_port => {{ interface.local_port|explode_port }},
      :libvirt__tunnel_ip => "{{ loopbacks[interface.remote_host] }}",
      :libvirt__tunnel_port => {{ interface.remote_port|explode_port }},
      :libvirt__iface_name => "{{ interface.name }}",
      auto_config: false
  
    {% endfor %}
  end

  {% endfor %} 
end

